@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@400;600&display=swap');

@import "header.css";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.container {
	color: #424874;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}

.container__title {
	margin: 0;
	margin-bottom: 30px;
	text-wrap: balance;
	text-align: center
}

.form__container {
	display: flex;
	flex-direction: column;
}

.form__label {
	margin-bottom: 3px;
	font-size: 1.3em;
}

.form__input {
	padding: 10px;
	font-size: 1em;
	margin-bottom: 10px;
	border: none;
	outline: 1px #A6B1E1 solid;
}

.form__input:focus {
	outline: 3px #A6B1E1 solid;
}

.form__btn {
	font-size: 1.3em;
	color: inherit;
	background-color: #DCD6F7;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form__btn:hover {
	background-color: #cbc3ee;
}

.form__btn:disabled {
	background-color: #8d8d8d;
	color: #dadada;
}

.downloadStatus {
	display: none;
	text-align: center;
	margin: 20px 0;
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 800px;
	}
}